<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cursos</title>
</head>
<body>
    <%# title %>
    <%/* title */%>
   
     <% cursos.forEach(function (item) { %>
    <li><%= item %></li>
     <% }); %>

     <form action="enviar_dados" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome">
        <br>
        <label for="email">E-mail:</label>
        <input type="email" name="email">
        <br>
        <input type="submit" value="Enviar">
     </form>
</body>
</html>